.center {
  text-align: center;
}

.entries-container {
  margin: 10px 0;
}

.entry {
  padding: 10px;
  border-top: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
  border-left: 1px solid #E6ECF0;
  white-space: pre-line;
}

.entry:last-child {
  border-bottom: 1px solid #E6ECF0;
}

.entry:hover {
  background-color: #F5F8FA;
}

.entry .date {
  display: block;
  font-size: x-small;
  color: #A9A9A9;
}